<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contacts</title>
	<style>
		.container{
			margin: auto;
			width: 50%;
			padding: 30px;
			background:grey;
			
		}
	</style>
  </head>
  <body>
	
	<div class="container">
		
		<h1 data-th-text="${name}">Welcome to Home page</h1>
		<p>
			Contact Manager is a web-based application designed to securely store, organize, and manage contact information in one place.
			It allows users to add, update, delete, and search contacts with ease. With features like authentication, categorization, and a clean user interface, 
			it ensures both convenience and data privacy. This system replaces traditional paper records and scattered contact 
			lists with a modern, accessible, and reliable digital solution.
		</p>
		
	</div>
   	
  </body>
</html>