<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contacts</title>
	<link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
	<link data-th-href="@{'/css/output.css'}" rel="stylesheet">
	
  </head>
  <body>
	
	<div class=" bg-red-200 w-1/2 p-4 flex flex-col justify-center space-y-3 mx-auto mt-4">
		
		<h1 class="text-2 font-bold" data-th-text="${name}">
			Welcome to Home page
		</h1>
		<p class="text-xl text-gray-700">
			Contact Manager is a web-based application designed to securely store, organize, and manage contact information in one place.
			It allows users to add, update, delete, and search contacts with ease. With features like authentication, categorization, and a clean user interface, 
			it ensures both convenience and data privacy.This system replaces traditional paper records and scattered contact 
			lists with a modern, accessible, and reliable digital solution.
		</p>
		<div>
			<button class="px-3 py-3 rounded bg-blue-700 text-white hover:bg-blue-600">
						Click Here
			</button>
		</div>
		
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
   	
  </body>
</html>